Checks: '-*,clang*,bugprone*,cppcoreguidelines*,misc*,modernize*,performance*,readability*'
WarningsAsErrors: '*'
FormatStyle: 'file'
HeaderFilterRegex: 'ngt/'
CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: 1          }
  - { key: readability-identifier-naming.NamespaceCase,                     value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                         value: CamelCase  }
  - { key: readability-identifier-naming.ClassMemberSuffix,                 value: _          }
  - { key: readability-identifier-naming.PrivateMemberSuffix,               value: _          }
  - { key: readability-identifier-naming.StructCase,                        value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,                      value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,                      value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantCase,                value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase,             value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,                  value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumCase,                          value: CamelCase  }
  - { key: readability-function-size.LineThreshold,                         value: 800        }
  - { key: readability-function-size.StatementThreshold,                    value: 800        }
  - { key: readability-function-size.BranchThreshold,                       value: 9          }
  - { key: readability-function-size.ParameterThreshold,                    value: 5          }
  - { key: readability-function-size.NestingThreshold,                      value: 5          }
  - { key: readability-function-size.VariableThreshold,                     value: 50         }